@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/*@font-face { font-family: 'FonteLogo';  
 src: url("../pasta/nome da ponte.otf");      fonte baixada localmente}*/
/* Paragrafos*/
body{
		background-color: #dddddd;
		color: rgba(0,0,0,1);
	  }
	  
	  div#interface{
		  width: 1800px;
		  background-color: #ffffff;
		  margin: -20px auto 10px auto; /*Centralizar margens*/
		  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
		  padding: 10px;
	  }
	  
	  p{
		text-align: justify;
		text-indent: 50px;
		
	  }
	  
	  header#cabecalho img#icone { /*Oculos img*/
		  position: absolute;
		  left: 1600px;
		  top: 70px;
	  }
	  
	  header#cabecalho {
		  border-bottom: 1px #606060 solid;
		  height: 150px;
		  background: url("../imagens/glass-logo-peq.jpg") no-repeat -20px -20px; /*Imagem de fundo google glass*/
	  }
	  
	  header#cabecalho h1 {
		  font-family: 'Titillium Web', sans-serif; /*Logo google glass*/
		  font-size: 30pt;
		  color: #606060;
		  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
		  padding: 0px;
		  margin-bottom: 0px;
	  }
	  
	  header#cabecalho h2 {
		  font-family: Arial, sans-serif;
		  font-size: 15pt;
		  color: #888888;
		  padding: 0px;
		  margin-top: 0px;
		  
	  }
	  
	  
	   /* Formatação de imagens com legendas*/
	  
	  figure.foto-legenda {
		  position: relative;
		  border: 8px solid white;
		  box-shadow: 1px 1px 4px black; /*Sombra na borda */
	  }
	  
	  figure.foto-legenda img {
		  width: 100%;
		  height: 100%;
	  }
	  
	  figure.foto-legenda figcaption { /*Descrição da legenda */
		  opacity: 0; /*Oculta a imagem*/
		  position: absolute;
		  top: 0px;
		  background-color: rgba(0,0,0,0.4);
		  color: white;	
		  width: 100%;
		  height: 100%;
		  padding: 10px; /*Cria espaço*/
		  box-sizing: border-box;
		  transition: opacity 1s; /*Tempo para exibir a leganda ao passar o curso do mouse sobre a imagem*/
	  }
	  
	  figure.foto-legenda:hover figcaption{ /*Exibe a legenda ao passar o cursor do mouse sobre a imagem.*/
		  opacity: 1;
	  }
	  
	  
	  /* Formatação do menu*/
	  
	  nav#menu{
		  display: block;
	  }
	  
	  nav#menu ul {
		  list-style: none; /*Tira marcadores*/
		  text-transform: uppercase;
		  position: absolute;
		  top: -20px; /*Altura*/
		  left: 1200px; /*Posição lateral do menu*/
	  }
	  
	  nav#menu li {
		  display: inline-block;
		  background-color: #dddddd;
		  padding: 10px;
		  margin: 2px;
		  transition: background-color 1s;
	  }
	  
	  nav#menu li:hover {
		  background-color: #606060;
	  }
	  
	  nav#menu h1 {
		display: none;  
	  }
	  
	  
	  nav#menu a {
		  color: #000000;
		  text-decoration: none;
	  }
	  
	  nav#menu a:hover {
		  color: #ffffff;
		  text-decoration: underline;
	  }
	  
	  section#corpo {
		  display: block;
		  width: 1000px;         /*Largura*/
		  float: left;       /*tag para que a section corpo fique no lado esquerdo*/
		  border-right: 1px solid #606060;
		  padding-right: 15px;	  
	  }
	  
	  
	  article#noticia-principal h2 {
		  font-size: 12pt;
		  color: #606060;
		  background-color: #dddddd;
		  padding: 5px 0px 5px 0px;
		  margin: 10px 0px 10px 0px;
		  
	  }
	  
	  header#cabecalho-artigo h1{
		  font-family: 'Titillium Web', sans-serif;
		  font-size: 20pt;
		  color: #606060;
		  margin-bottom: 0px;
	  }
	  header#cabecalho-artigo h2{
		  font-size: 13pt;
		  color: #cecece;
		  background-color: #ffffff;
		  margin: 0px; 
	  }	  
	  header#cabecalho-artigo h2{
		  
		  
	  }	  
	  
	  
	  table#tabelaspec {
		  border: 1px solid #606060;
		  border-spacing: 0px;
		  margin-left: auto;
		  margin-right: auto;
	  }
	  
	  table#tabelaspec tr {
		  background-color: #606060;
		  border: 1px solid #606060;
		  padding: 10px;
		  vertical-align: top;
		  
	  }
	  
	  table#tabelaspec td {
		  border: 1px solid #606060;
		  padding: 10px;
		  text-align: top;
	  }
	  
	  table#tabelaspec td.ce {  /*classe da coluna da esquerda*/
		  color: #ffffff;
		  background-color: #606060;
		  font-weight: bold;
	  }
	  
	  table#tabelaspec td.cd {  /*classe da coluna da direita*/
		  background-color: #cecece;
	  }
	  
	  table#tabelaspec caption { /*titulo da tabela*/
		  color: #888888;
		  font-size: 10pt;
		  font-weight: bolder;
		  
	  }
	  
	  table#tabelaspec caption span{
		  display: block;
		  float: right;
		  color: #000000; 
		  font-size: 8pt;
		  margin-top: 10px;
	  }
	  
	  aside#lateral {
		  display: block;
		  width: 750px;
		  float: right;     /*tag para que a section corpo fique no lado direito*/
		  
	  }
	  
	  footer#rodape {
		  clear: both;
		  border-top: 1px solid #606060;
		  padding-top: 10px;
		  
	  }
	  
	  footer#rodape p {
		  text-align: center;
		  
		  
	  }
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  